body {
  background-color: #151516;
  background: -webkit-gradient(linear, left top, left bottom, from(#151516), to(#1f1f21)) fixed;
  font-size: 18px;
  line-height: 1.8rem;
  color: #d2d3d6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-rows: "auto";
  justify-items: "center";
  align-items: "center";
}
body,
html {
  margin: 0;
  height: 100%;
}
#app {
  width: 93%;
  margin: 0px auto;
}
@media only screen and (min-width: 600px) {
  #app {
    width: 50%;
    max-width: 520px;
  }
}
h1 {
  margin: 6px 0 0 0;
}
h1 img {
  max-width: 100%;
  margin-bottom: 0;
}
h2 {
  margin: 4px 0 6px 0;
  text-align: center;
  color: #d2d3d6;
  font-style: italic;
  font-size: 1.25rem;
}
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  clear: both;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  display: block;
  padding: 16px 12px;
  width: calc(100% - 24px);
  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #151516;
}
input:hover {
  background-color: #e2e2e2;
}
input[type="date"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em; 
  padding: 14px 12px;
  color: #151516;
}
input[type="submit"] {
  color: #151516;
  cursor: pointer;
  padding: 15px 0;
  width: 100%;
  margin: 30px 0 26px;
  border: 0;
  background-color: #aaa;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fcf039;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf039), to(#f3a43f));
  background-image: -webkit-linear-gradient(top, #fcf039, #f3a43f);
  background-image: -moz-linear-gradient(top, #fcf039, #f3a43f);
  background-image: -ms-linear-gradient(top, #fcf039, #f3a43f);
  background-image: -o-linear-gradient(top, #fcf039, #f3a43f);
  background-image: linear-gradient(to bottom, #fcf039, #f3a43f);
}
input[type="submit"]:hover {
  background-color: #f3a43f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3a43f), to(#fcf039));
  background-image: -webkit-linear-gradient(top, #f3a43f, #fcf039);
  background-image: -moz-linear-gradient(top, #f3a43f, #fcf039);
  background-image: -ms-linear-gradient(top, #f3a43f, #fcf039);
  background-image: -o-linear-gradient(top, #f3a43f, #fcf039);
  background-image: linear-gradient(to bottom, #f3a43f, #fcf039);
}

select {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f2f2f2;
  padding: 14px 12px;
  width: 100%;
  border: none;
  font-size: 1.1rem;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  z-index: 888;
  cursor: pointer;
  color: #151516;
}
select:hover {
  background-color: #e2e2e2;
}
select option {
  padding: 20px;
}

.box {
  position: relative;
}

.box::before {
  content: '';
  background: url('../images/arrow-down.png') no-repeat 0 0;
  position: absolute;
  background-size: 13px 7px;
  top: 22px;
  right: 8px;
  width: 25px;
  height: 15px;
  z-index: 999;
  color: #000;
  pointer-events: none;
}
@media only screen and (min-width: 600px) {
  .box::before {
    background-size: 20px 12px;
    top: 20px;
    right: 14px;
  }
}

/* select {
  width: 100%;
  font-size: 1.2rem;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  background-color: #f2f2f2;
  margin-bottom: 0.6rem;
} */
.info-in-enter-active {
  animation: fade-in 0.5s;
}
.info-in-leave-active {
  animation: fade-in 0.5s reverse;
}

form p {
  margin-bottom: 0.5rem;
}

footer {
  background-color: #000;
  padding: 30px 5%;
  color: #d2d3d6;
  margin-top: 60px;
  
  display: block;
  font-size: 0.8rem;
  line-height: 1rem;
}
footer .content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
footer a {
  color: #d2d3d6;
}
@media only screen and (min-width: 600px) {
  footer .content {
    width: 50%;
    max-width: 520px;
  }
}

.error-message {
  display: none;
  background-color: #cc0000;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 10px 6px;
  font-style: italic;
  animation: fade-in ease 200ms;
  -webkit-animation: fade-in ease 200ms;
  -moz-animation: fade-in ease 200ms;
  -o-animation: fade-in ease 200ms;
  -ms-animation: fade-in ease 200ms;
}
.success-message {
  display: none;
  /* background-color: #006400; */
  background-color: #13527e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#13527e), to(#176ba6));
  background-image: -webkit-linear-gradient(top, #13527e, #176ba6);
  background-image: -moz-linear-gradient(top, #13527e, #176ba6);
  background-image: -ms-linear-gradient(top, #13527e, #176ba6);
  background-image: -o-linear-gradient(top, #13527e, #176ba6);
  background-image: linear-gradient(to bottom, #13527e, #176ba6);
  border-radius: 4px;
  text-align: center;
  padding: 20px 16px;
  color: #fff;
  border: 0;
  margin-top: 1.1rem;
  font-style: italic;
  font-size: 1.2rem;
  animation: fade-in ease 200ms;
  -webkit-animation: fade-in ease 200ms;
  -moz-animation: fade-in ease 200ms;
  -o-animation: fade-in ease 200ms;
  -ms-animation: fade-in ease 200ms;
}
.success-message p {
  clear: both;
  font-weight: bold;
  display: block;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.success-message .small {
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
